footer{
    color: #fff;
    text-align: center;
    width: 100%;
    background-color: #000;
}
footer p{
    line-height: 30px;
    padding: 10px;
}
footer a{
    color:#8dbbf8;
}
footer a:hover{
    color:#f3e065;
}